# Ambiente Virtual
.venv/
venv/
env/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de banco de dados (dentro ou fora da pasta instance)
*.db
*.sqlite3

# Outros
.DS_Store