{% extends "base.html" %}
{% block conteudo %}
    <h2>Editando: {{ pessoa.nome }}</h2>
    <form action="{{ url_for('pessoa_bp.editar', id=pessoa.id) }}" method="post" class="form-card">
        <div class="form-group">
            <label for="ds_nome">Nome Completo</label>
            <input type="text" id="ds_nome" name="ds_nome" value="{{ pessoa.ds_nome }}">
        </div>
        <div class="form-group">
            <label for="num_cpf">CPF</label>
            <input type="text" id="num_cpf" name="num_cpf" value="{{ pessoa.num_cpf }}">
        </div>
        <div class="form-group">
            <label for="dt_nascimento">Data de Nascimento</label>
            <input type="date" id="dt_nascimento" name="dt_nascimento" value="{{ pessoa.dt_nascimento }}">
        </div>
        <div class="form-group">
            <label for="num_telefone">Telefone</label>
            <input type="tel" id="num_telefone" name="num_telefone" value="{{ pessoa.num_telefone }}">
        </div>
        <div class="form-group">
            <label for="char_endereco">Endereço</label>
            <textarea id="char_endereco" name="char_endereco" value="{{ pessoa.char_endereco }}" ></textarea>
        </div>

        <hr>

        <div class="form-group">
            <label for="char_diagnostico">Diagnóstico</label>
            <textarea id="char_diagnostico" name="char_diagnostico" value="{{ pessoa.char_diagnostico }}" ></textarea>
        </div>
        <div class="form-group">
            <label for="char_tratamento">Tratamentos</label>
            <textarea id="char_tratamento" name="char_tratamento" value="{{ pessoa.char_tratamento }}" ></textarea>
        </div>
        <div class="form-group">
            <label for="char_medicamento">Medicamentos</label>
            <textarea id="char_medicamento" name="char_medicamento" value="{{ pessoa.char_medicamento }}" ></textarea>
        </div>
        <div class="form-group">
            <label for="char_alergia">Alergias</label>
            <textarea id="char_alergia" name="char_alergia" value="{{ pessoa.char_alergia }}" ></textarea>
        </div>
        <div class="form-group">
            <label for="char_observacoes">Observações</label>
            <textarea id="char_observacoes" name="char_observacoes" value="{{ pessoa.char_observacoes }}" ></textarea>
        </div>

        <div class="form-actions">
            <a href="{{ url_for('pessoa_bp.listar') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>
{% endblock %}
